<div class="income-list-container">
  <div class="income-list-heading">
    <h3>Income: </h3>
    <span>{{totalIncomes}}</span>
  </div>
  <ul class="income-list-group">
    <ng-container *ngIf="incomeItems">
      <li
        class="income-list-item"
        [ngClass]="[item.adminChanged ? 'gray' : '']"
        *ngFor="let item of incomeItems; let i = index">
        <div (click)="onEditItem(item, i)">
          <p>{{item.description}}: </p>
          <span>{{item.amount}}</span>
        </div>
        <p class="modified-message" *ngIf="item.adminChanged">Added or modified by admin</p>
        <mat-icon
          class="income-list-icon"
          (click)="onDelete(item.key)">delete
        </mat-icon>
      </li>
    </ng-container>


  </ul>
</div>
