<div class="income-list-container">
  <div class="income-list-heading">
    <h3>Income: </h3>
    <span>{{totalIncome}}</span>
  </div>
  <ul
    class="income-list-group">
    <ng-container *ngIf="incomeItems">

      <li
        *ngFor="let item of incomeItems; let i = index"
        class="income-list-item"
        [ngClass]="[item.adminChanged ? 'gray' : '']">
        <div (click)="onEditItem(item.id)">
          <p>{{item.description}}: </p>
          <span>{{item.value}}</span>
        </div>
        <p class="modified-message" *ngIf="item.adminChanged">Added or modified by admin</p>
        <mat-icon
          class="income-list-icon"
          (click)="onDelete(item.id)">delete
        </mat-icon>
      </li>
    </ng-container>


  </ul>
</div>
