<div class="income-list-container">
  <div class="income-list-heading">
    <h3>Income: </h3>
    <span>{{totalIncomes}}</span>
  </div>
  <ul class="income-list-group">
    <ng-container *ngIf="incomeItems !== undefined">
      <li
        class="income-list-item"
        *ngFor="let item of incomeItems; let i = index"
        (click)="onEditItem(i)">
        <p>{{item.description}}: </p>
        <span>{{item.amount}}</span>
        <mat-icon
          class="income-list-icon"
          (click)="onDelete(i)">delete
        </mat-icon>
      </li>
    </ng-container>


  </ul>
</div>
