ul {
  display: flex;
  gap: 1rem;
}

li {
  padding: 0.5rem;
}

.spacer-toolbar {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    @media (max-width: 374.98px) {
      flex-direction: column;
    }
  }

  @media (max-width: 767.98px) {
    flex-direction: column;
    height: 100%;
    padding: 0.5rem 0;
  }

}

.pages-button {

  a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #bcbcbc;
    margin-left: 0.5rem;
    @media (max-width: 374.98px) {
      font-size: 0.8rem;
    }
  }
}
