ul {
  display: flex;
  gap: 1rem;
}

li {
  padding: 0.5rem;
}

.spacer-toolbar {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.pages-button {
  a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #bcbcbc;
    margin-left: 0.5rem;
  }
}
