<mat-toolbar color="primary" class="spacer-toolbar">
  <div>
    <mat-icon> turned_in_not</mat-icon>
    <span>Budget Calculator App</span>
    <button mat-button *ngIf="isAuthenticated" class="pages-button">
      <mat-icon>assignment_ind</mat-icon>
      <a routerLink="/admin">Admin</a>
    </button>
  </div>
  <div>
    <button mat-button *ngIf="isAuthenticated" class="pages-button">
      <mat-icon>description</mat-icon>
      <a routerLink="/overview-page">Overview Page</a>
    </button>
    <button mat-button *ngIf="!isAuthenticated" class="pages-button">
      <mat-icon>person</mat-icon>
      <a routerLink="/auth">Authenticate</a>
    </button>
    <button mat-button *ngIf="isAuthenticated" class="pages-button">
      <mat-icon>person</mat-icon>
      <a routerLink="/auth" (click)="onLogout()">Logout</a>
    </button>
  </div>
</mat-toolbar>
