<div *ngIf="showSteps" class="calc-stepper">
  <mat-stepper orientation="vertical" linear #stepper>
    <mat-step [completed]="false" disabled="true">
      <ng-template matStepLabel>Step 1</ng-template>
      <ng-template matStepContent>
        <div class="step-content">
          <p>Select User</p>
          <mat-form-field>
            <mat-select
              [(ngModel)]="selectedValue"
              multiple
              name="user"
              placeholder="Users"
              required>
              <mat-option
                (click)="onSelectValueUser(selectedValue)"
                *ngFor="let user of usersArray"
                [value]="user">
                {{user.username}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button mat-raised-button color="accent" (click)="onNextStep1()">Next</button>
      </ng-template>
    </mat-step>
    <mat-step [completed]="false">
      <ng-template matStepLabel>Step 2</ng-template>
      <ng-template matStepContent>
        <div class="step-content">
          <div class="selected-users">
            <h3 class="selected-users__heading">Selected Users:</h3>
            <ul class="selected-users__list"
                *ngFor="let item of selectedValue">
              <li class="selected-users__item">
                <div class="selected-users__item-username">
                  {{item.username}}
                </div>
                <div class="selected-users__item-select">
                  <mat-form-field appearance="outline">
                    <mat-label>Months</mat-label>
                    <mat-select
                      multiple
                      [(ngModel)]="item.editedMonths"
                      placeholder="Months"
                      (ngModelChange)="checkValue($event)"
                      required>
                      <mat-option
                        *ngFor="let mon of item.beautyMonths; let monthIndex = index"
                        [value]="[mon, monthIndex]">
                        {{mon.month}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </li>
            </ul>
            <div class="select-input">
              <input type="number"
                     class="select-input__input"
                     placeholder="Enter a value"
                     [value]='resultValue'>
              <div class="select-input__buttons">
                <button
                  mat-raised-button
                  matStepperNext
                  color="primary"
                  (click)="onIncomeButton()">Income
                </button>
                <button
                  mat-raised-button
                  color="primary"
                  (click)="onExpenseButton()"
                  matStepperNext>Expense
                </button>
              </div>
            </div>
          </div>
          <div class="step-nav-buttons">
            <button
              mat-raised-button
              color="warn"
              matStepperPrevious>Back
            </button>
            <button
              mat-raised-button
              color="accent"
              (click)="onNextStep2()">Next
            </button>
          </div>
        </div>

      </ng-template>
    </mat-step>
    <mat-step [completed]="false">
      <ng-template matStepLabel>Step 3</ng-template>
      <div class="step-content">
        <div class="selected-users">
          <h3 class="selected-users__heading">Selected Data:</h3>
          <ul class="selected-users__list"
              *ngFor="let item of selectedValue">
            <li class="selected-users__item">
              <div class="selected-users__item-username">
                {{item.username}} |
              </div>
              <div class="selected-users__item-months">
                  <span *ngFor="let mon of item.editedMonths">
                    {{mon[0].month}}
                  </span>
              </div>
            </li>
          </ul>
          <div class="selected-users__type">
            <p>Operation type |</p> <span>{{buttonData}}</span></div>
        </div>
        <form [formGroup]="form" class="selected-users__form">
          <div class="selected-users-form-inputs">
            <mat-form-field appearance="outline" style="width: 65%; font-size: 1.2rem;">
              <mat-label>Description</mat-label>
              <input matInput
                     type="text"
                     placeholder="Enter a description"
                     formControlName="description">
              <mat-hint>Fill in the description</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 35%; font-size: 1.2rem;">
              <mat-label>Amount</mat-label>
              <input matInput
                     type="number"
                     placeholder="0"
                     formControlName="amount">
              <span matPrefix class="mat-prefix">$&nbsp;</span>
              <mat-hint align="end">Enter a positive value</mat-hint>
            </mat-form-field>
          </div>
          <button
            class="mb-1"
            mat-raised-button
            color="primary"
            type="button"
            [disabled]="!form.valid"
            (click)="onSubmit()">
            <mat-icon>save</mat-icon>
            Save
          </button>
        </form>
        <div class="step-nav-buttons">
          <button mat-button matStepperPrevious (click)="onBack()">Back</button>
          <button mat-raised-button (click)="stepper.reset()">Reset</button>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</div>
