.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-body {
  min-width: 300px;
  background-color: #b0bec5;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px #455a64;
}

.login-inputs {
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
  padding-bottom: 0.6rem;
  font-size: 1.2rem;
}

.login-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
