<div class="page">
  <div class="container">
    <div class="overview-page">
      <ul class="months-list">
        <ng-container *ngIf="monthsArr.length > 0">
          <li
            *ngFor="let item of monthsArr; let i = index"
            [ngClass]="[(item.monthNum > monthNow + 2 || item.year !== yearNow) ? 'locked' : '']"
            class="months-item">
            <div *ngIf="item.adminChanged" class="change-message">admin made changes *</div>
            <mat-icon
              *ngIf="item.monthNum > monthNow + 2 || item.year !== yearNow"
              class="month-icon">lock
            </mat-icon>
            <mat-icon
              *ngIf="item.monthNum <= monthNow + 2 && item.year === yearNow"
              class="month-icon">lock_open
            </mat-icon>

            <h2
              (click)="onMonthPage(item)"
              [ngClass]="[item.adminChanged ? 'indigo': '']">{{item.monthName}}</h2>
            <div
              [ngClass]="[(item.monthNum > monthNow + 2 || item.year !== yearNow) ? 'gray' : '']"
              class="months-item__right right-month-item">
              <div class="right-month-item__block">
                <h3 class="right-month-item__title">Income</h3>
                <p class="right-month-item__value">{{item.income}}</p>
              </div>
              <div class="right-month-item__block">
                <h3 class="right-month-item__title">Expense</h3>
                <p
                  [ngClass]="[item.income >= item.expense ? 'green' : 'red']"
                  class="right-month-item__value">
                  {{item.expense}}
                </p>
              </div>
            </div>
            <mat-icon
              (click)="onDelete(item)"
              class="del-icon">delete
            </mat-icon>
          </li>

        </ng-container>
        <app-overview-create></app-overview-create>
      </ul>
    </div>
  </div>

</div>




