<div class="page">
  <div class="container">
    <div class="overview-page">
      <ul class="months-list">
        <ng-container *ngIf="monthsArr1.length > 0">
          <li
            class="months-item"
            *ngFor="let item of monthsArr1; let i = index"
            [ngClass]="[(item.monthNum > monthNow + 2 || item.year !== yearNow) ? 'locked' : '']">
<!--            <div *ngIf="item.changedAdmin" class="change-message">admin made changes *</div>-->
            <mat-icon
              *ngIf="item.monthNum > monthNow + 2 || item.year !== yearNow"
              class="month-icon">lock
            </mat-icon>
            <mat-icon
              *ngIf="item.monthNum <= monthNow + 2 && item.year === yearNow"
              class="month-icon">lock_open
            </mat-icon>
<!--            [ngClass]="[item.changedAdmin ? 'indigo': '']"-->
            <h2
              (click)="onMonthPage(i, item)">{{item.monthName}}</h2>
            <div
              class="months-item__right right-month-item"
              [ngClass]="[(item.monthNum > monthNow + 2 || item.year !== yearNow) ? 'gray' : '']">
              <div class="right-month-item__block">
                <h3 class="right-month-item__title">Income</h3>
                <p class="right-month-item__value">{{item.income}}</p>
              </div>
              <div class="right-month-item__block">
                <h3 class="right-month-item__title">Expense</h3>
                <p
                  class="right-month-item__value"
                  [ngClass]="[item.income >= item.expense ? 'green' : 'red']">
                  {{item.expense}}
                </p>
              </div>
            </div>
            <mat-icon
              class="del-icon"
              (click)="onDelete(item)">delete
            </mat-icon>
          </li>

        </ng-container>
        <app-overview-create></app-overview-create>
      </ul>
    </div>
  </div>

</div>




