.locked {
  color: gray;
  background-color: lightgray;

  h2 {
    cursor: not-allowed !important;
    color: gray;
  }
}

.months-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  background-color: #bcbcbc;
  border-radius: 5px;
  border: 1px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.months-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  background-color: #b8d6bc;
  border: 1px solid #0f0f0f;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);

  h2 {
    width: 100%;
    padding: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 2rem;
    cursor: pointer;
  }

  &:hover {
    .del-icon {
      display: block;
    }
  }
}

.del-icon {
  color: black !important;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3rem;
}

.month-icon {
  font-size: 2rem;
}

.right-month-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  h3 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__title {
    padding: 0.2rem;
    font-size: 1.3rem;
  }

  &__value {
    text-align: center;
    border: 1px solid #0f0f0f;
    padding: 0.2rem;
    font-size: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
  }
}

.red {
  background-color: indianred;
  border: 1px solid red !important;
}

.green {
  background-color: darkseagreen;
  border: 1px solid green !important;
}

.gray {
  .right-month-item__block {
    h3 {
      color: gray;
    }

    p {
      border: none !important;
      background-color: gray;
      color: lightgray;
    }
  }

}
