.modal-container {
  position: relative;
  margin-top: 1.5rem;
}

.close {
  border: 1px solid darkred;
  border-radius: 3px;
  background-color: indianred;
  padding: 0.4rem 0.5rem;
  position: absolute;
  top: -2.4rem;
  right: -1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;

  &:hover {
    background-color: red;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;

  &__inputs {
    padding: 1rem;
    display: flex;
    gap: 1.2rem;
    background-color: darkgray;
    border-radius: 3px;
    border: 1px solid gray;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  &__button {
    padding: 0.7rem 1.2rem;
    background-color: #d6d6d6;
    border: 1px solid darkgray;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    transition: box-shadow .3s ease 0s;
    font-size: 0.9rem;

    &:hover {
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    }
  }
}

.mat-prefix {
  position: relative;
  bottom: 0.2rem;
}

.input-desc {
  width: 100%;
}

.input-amount {
  width: 100%;
  text-align: right;
}

mat-label {
  &.ng-touched.ng-invalid {
    border: 1px solid red;
  }
}
