<div class="modal-container">
  <button class="close" (click)="close()">X</button>
  <form
    class="modal-form"
    [formGroup]="formGroup">
    <div class="modal-form__inputs">
      <mat-form-field appearance="outline" style="width: 65%">
        <mat-label>Description</mat-label>
        <input matInput
               type="text"
               class="input-desc"
               placeholder="Enter a description"
               formControlName="description">
        <mat-hint>Fill in the description</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 35%">
        <mat-label>Amount</mat-label>
        <input matInput
               type="number"
               class="input-amount"
               placeholder="0"
               formControlName="amount">
        <span matPrefix class="mat-prefix">$&nbsp;</span>
        <mat-hint align="end">Enter a positive value</mat-hint>
      </mat-form-field>
    </div>
    <div class="modal-form__buttons">
      <button
        *ngIf="!identityExpense"
        type="button"
        class="modal-form__button"
        [disabled]="!formGroup.valid"
        (click)="onSubmitIncome()">
        {{identityIncome ? 'Update' : 'Income'}}
      </button>
      <button
        *ngIf="!identityIncome"
        type="button"
        class="modal-form__button"
        [disabled]="!formGroup.valid"
        (click)="onSubmitExpense()">
        {{identityExpense ? 'Update' : 'Expense'}}
      </button>
    </div>
  </form>

</div>

