<div class="modal-container">
  <form class="modal-form">
    <div class="modal-form__inputs">
      <input type="number" placeholder="amount" class="modal-form__input modal-form__input_amount">
      <input type="text" placeholder="description" class="modal-form__input modal-form__input_description">
    </div>
    <div class="modal-form__buttons">
      <button type="button" class="modal-form__button">Income</button>
      <button type="button" class="modal-form__button">Expense</button>
    </div>
  </form>
  <button (click)="close()">Cancel</button>
</div>

