<app-header></app-header>
<router-outlet></router-outlet>


<hr>

<button mat-raised-button color="primary" (click)="addData()">Add Data in Firebase</button>
<hr>
<button mat-raised-button color="warn" (click)="fetchData()">Fetch Data</button>
<hr>
<button mat-raised-button color="accent" (click)="setDataUser()">Data UserId</button>
<hr>

<div style="margin: 1rem; outline: 0.5rem solid green; padding: 0.5rem">
  <button mat-raised-button color="primary" (click)="createPost()">Create Post</button>
  <hr>
  <ul style="margin: 1rem; padding: 1rem; border: 0.2rem solid orange;">
    <li style="border: 0.2rem solid red; padding: 0.5rem; margin-bottom: 0.2rem;" *ngFor="let post of posts">
      {{post.title}} | {{post.content}} | {{post.key}}
    </li>
  </ul>

</div>
