<div class="admin-page">
  <div class="container">
    <h1 class="mat-h1">Dashboard</h1>
    <div class="users-block">
      <ul class="users-list">
        <li class="users-item">счет всего что нужно</li>
        <li class="users-item">получается итоговое число</li>
        <li class="users-item">Будет символ для вызова модалки (Плюс например)</li>
        <li class="users-item">Открывается модалка (Вызывается таже что и для добавления расходов/доходов)</li>
        <li class="users-item">Заполнено поле (Рассчитаным значением) + можно выбрать какому пользователю будет добавлен
          расход/доход. + добавить различные проверки (например проверять если добавленный расход превысит доход челика,
          вывести модалку с предепреждением => если да - добавляем и рассчитываем отрицательный доход)
        </li>
        <li class="users-item">Плюс на админке ты можешь выбрать пользователя и посмотреть его инфу (Доходы - расходы)
        </li>
      </ul>
    </div>
  </div>
</div>

