<div class="tabs-group">
  <p class="tabs-username" *ngIf="username">{{username}}</p>
  <div class="tabs-block">
    <mat-tab-group class="tabs-mat-group" animationDuration="0ms">
      <mat-tab class="tab-mat-item" *ngFor="let item of monthNameArr; let id = index">
        <ng-template mat-tab-label>{{item.monthName}}</ng-template>
        <div class="month-block">
          <div class="month-incomes">
            <h3 class="month-heading">Income: {{item.income}}</h3>
            <ul class="month-list">
              <li class="month-item" *ngFor="let el of item.incomeArr; let i = index">
                <p>
                  <span>{{el.description}}</span> | <span>{{el.value}}</span>
                </p>
                <button
                  mat-raised-button
                  color="warn"
                  (click)="onEditItemIncome(el.id, item.id)">Edit
                </button>
              </li>
            </ul>
          </div>
          <div class="month-expenses">
            <h3 class="month-heading">Expense: {{item.expense}}</h3>
            <ul class="month-list">
              <li class="month-item" *ngFor="let el of item.expenseArr; let i = index">
                <p>
                  <span>{{el.description}}</span> | <span>{{el.value}}</span>
                </p>
                <button
                  mat-raised-button
                  color="warn"
                  (click)="onEditItemExpense(el.id, item.id)">Edit
                </button>
              </li>
            </ul>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
