<div class="tabs-group">
  <p class="tabs-username" *ngIf="username">{{username}} | {{userKey}}</p>
  <div class="tabs-block">
    <mat-tab-group class="tabs-mat-group" animationDuration="0ms">
      <mat-tab class="tab-mat-item" *ngFor="let item of monthNameArr; let id = index">
        <ng-template mat-tab-label>{{item.month}}</ng-template>
        <div class="month-block">
          <div class="month-incomes">
            <h3 class="month-heading">Income: {{item.income}}</h3>
            <ul class="month-list">
              <li class="month-item" *ngFor="let el of item.incomesArr; let i = index">
                <p>
                  <span>{{el[1].description}}</span> | <span>{{el[1].amount}}</span>
                </p>
                <button mat-raised-button color="warn">Edit</button>
              </li>
            </ul>
          </div>
          <div class="month-expenses">
            <h3 class="month-heading">Expense: {{item.expense}}</h3>
            <ul class="month-list">
              <li class="month-item" *ngFor="let el of item.expensesArr; let i = index">
                <p>
                  <span>{{el[1].description}}</span> | <span>{{el[1].amount}}</span>
                </p>
                <button
                  mat-raised-button
                  color="warn"
                  (click)="onEditItemExpense(i, el[0], item.key, id)">Edit
                </button>
              </li>
            </ul>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
