<div class="calc-page">
  <div class="calc-container">
    <div class="result">
      <input [ngModel]="formattedTokens" class="result-item" readonly type="text">

      <input [ngModel]="input" class="result-item" readonly type="text">
    </div>
    <div class="clear clear-container">
      <button (click)="reset()" class="item">AC</button>
      <button [disabled]="input === '0'" mat-raised-button color="primary" (click)="onExportValue(input)"
              class="item-big">Export value
      </button>
    </div>

    <div class="number number-container">
      <button
        (click)="insertChar(digit)"
        *ngFor="let digit of numberContent"
        class="item">
        {{digit}}
      </button>
    </div>

    <div class="operator">
      <button (click)="execOperator(operator)"
              *ngFor="let operator of operatorContent"
              class="item">
        {{operator}}
      </button>
    </div>

    <div class="evaluate">
      <button (click)="evaluate()" class="item">=</button>
    </div>
  </div>


  <div class="calc-steppers">
    <mat-stepper orientation="vertical">
      <mat-step>
        <ng-template matStepLabel>Step 1</ng-template>
        <ng-template matStepContent>
          <div class="step-content">
            <form>
              <p>Select User</p>
              <mat-form-field>
                <mat-select
                  [(ngModel)]="selectedValue"
                  multiple
                  name="user"
                  placeholder="Users">
                  <mat-option
                    (click)="onSelectValue(selectedValue)"
                    *ngFor="let user of usersArray"
                    [value]="user">
                    {{user.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </div>
          <button (click)="onNext()" mat-button matStepperNext>Next</button>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Step 2</ng-template>
        <ng-template matStepContent>
          <p>This content was also rendered lazily</p>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Step 3</ng-template>
        <p>This content was rendered eagerly</p>
        <button mat-button matStepperPrevious>Back</button>
      </mat-step>
    </mat-stepper>
  </div>

</div>
