<div class="calc-page">
  <div class="calc-container">
    <div class="result">
      <input
        [ngModel]="formattedTokens"
        class="result-item"
        readonly
        type="text"
        id="sub-input-calc">

      <input
        [ngModel]="input"
        class="result-item"
        readonly
        type="text"
        id="main-input-calc">
    </div>
    <div class="clear clear-container">
      <button (click)="reset()" class="item">AC</button>
      <button [disabled]="input === '0'" mat-raised-button color="primary" (click)="onExportValue(input)"
              class="item-big">Export value
      </button>
    </div>

    <div class="number number-container">
      <button
        (click)="insertChar(digit)"
        *ngFor="let digit of numberContent"
        class="item">
        {{digit}}
      </button>
    </div>

    <div class="operator">
      <button (click)="execOperator(operator)"
              *ngFor="let operator of operatorContent"
              class="item">
        {{operator}}
      </button>
    </div>

    <div class="evaluate">
      <button (click)="evaluate()" class="item">=</button>
    </div>
  </div>
  <div class="stepper-container">
    <app-admin-stepper *ngIf="showSteps"></app-admin-stepper>
  </div>

</div>

