.expense-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.expense-list-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid #0f0f0f;
  background-color: rgba(214, 92, 71, 0.99);

  h3 {
    margin: 0;
    font-size: 1.3rem;
  }

  span {
    padding: 0.2rem;
    display: inline-flex;
    font-size: 1.2rem;
  }

}

.expense-list-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 0;
  width: 75%;
}

.expense-list-item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0.5rem 1rem;
  justify-content: center;
  gap: 0.5rem;
  background-color: rgba(214, 141, 125, 0.99);
  border-radius: 3px;
  border: 1px solid darkred;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  cursor: pointer;

  p {
    margin: 0;
    font-size: 1.2rem;
  }

  span {
    font-size: 1rem;
  }

  &:hover {
    .expense-list-icon {
      display: block;
    }
  }
}

.expense-list-icon {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 1.7rem;
}
