<div class="expense-list-container">
  <div class="expense-list-heading">
    <h3>Expense: </h3>
    <span>{{totalExpenses}}</span>
  </div>
  <ul
    class="expense-list-group">
    <ng-container *ngIf="expenseItems">
      <li
        *ngFor="let item of expenseItems; let i = index"
        class="expense-list-item"
        [ngClass]="[item.adminChanged ? 'gray' : '']">
        <div (click)="onEditItem(item, i)">
          <p>{{item.description}}: </p>
          <span>{{item.amount}}</span>
        </div>
        <p class="modified-message" *ngIf="item.adminChanged">Added or modified by admin</p>
        <mat-icon
          class="expense-list-icon"
          (click)="onDelete(item.key)">delete
        </mat-icon>
      </li>
    </ng-container>
  </ul>
</div>
