.my-calc-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: lightgray;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #0f0f0f;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 2rem;
    background-color: #fff;
    border: 1px solid #0f0f0f;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
  }

  &__bottom {
  }
}

.middle-my-calc {
  min-height: 20rem;
}

.btn-calc-page {
  background-color: rgba(3, 3, 3, 0.85);
  width: 100%;
  margin-bottom: 1rem;
  height: 3rem;
  font-size: 1.3rem;

  &:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
    color: #bcbcbc;
  }
}

.top-my-calc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  &__heading {
    margin: 0;
    display: flex;
    align-items: center;
    width: 65%;
    font-size: 2rem;
  }

  &__total {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    p {
      margin: 0;
      font-size: 1.4rem;
    }

    span {
      display: flex;
      padding: 0.2rem 0.2rem 0.1rem 0.2rem;
      border-bottom: 1px solid #000;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}

.middle-my-calc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  &__column {
    padding: 1rem;
    border: 1px solid #0f0f0f;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    background-color: #d6d6d6;
  }
}

.red {
  color: red;
  font-weight: 500;
  border-color: red !important;
}

